
    .contact-container {
      display: flex;
      background: #1c1c1c;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin-top: -1%;
      width: 100%;
      border: 2px black solid;
      height: 40vw;
    }

    .contact-form {
        margin-top: 10%;
      flex: 1;
      padding: 40px;
      /* background: #f6fbff; */
      background: #1c1c1c;
    }

    .contact-form h2 {
      color: white;
      margin-bottom: 20px;
      font-size: 2em;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 12px 15px;
      /* border: none; */
      border-radius: 25px;
      /* background: #e8f1f7; */
      background: #1c1c1c;
      font-size: 1em;
      /* outline: none; */
      caret-color: #0097a7;
      border: #0097a7 2px solid;
    }

   

    .send-btn {
      display: inline-block;
      background: #00bcd4;
      color: white;
      border: none;
      border-radius: 25px;
      padding: 12px 30px;
      font-size: 1em;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .send-btn:hover {
      background: #0097a7;
    }

    .illustration {
      flex: 1;
      /* background: #f0f8ff; */
      background: #1c1c1c;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin-top: 4%;
    }

    .illustration img {
      width: 80%;
      max-width: 350px;
    }

    @media (max-width: 768px) {
      .contact-container {
        flex-direction: column;
      }

      .illustration {
        display: none;
      }
    }
  